# Ignore testing files

*.bf
*.o
*.ll

# Ignore Output of cmake

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
options.h

# Ignore Output of autoconf

autom4te.cache/
*.log
*~
Makefile
config.h
config.status

# Ignore Output of flex

scanner.h
scanner.c

# Ignore Output of bison

parser.h
parser.c

# Ignore program

brainfuck
